rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /appSettings/{docId} {
      allow read, write: if request.auth != null;
    }

    match /runners/{runnerId} {
      allow read, write: if request.auth != null;
    }

    match /countDowns/{docId} {
      allow read, write: if request.auth != null;
    }
  }
}
